.basic{
    background-color: white;
    padding: 30px;
    height: 100vh;
}
/* Title */

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    max-width: 700px;
    border: none;
    border-radius: 15px;
    margin:0 auto;
}
.titleText{
    font-size: 30px;
    color: black;
}
/* Selector */

.selectorContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    color: midnightblue;
}

.selector{
    margin-left: 5px;
    width: 400px;
    height: 40px;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 5px;
    text-align-last: center;
    color: midnightblue;
}

