.redSquare{
    background-color: red;
    height: 37px;
    width: 22px;
}
.yellowSquare{
    background-color: yellow;
    height: 37px;
    width: 22px;
}
.square{
    background-color: white;
    height: 37px;
    width: 22px;
}
table{
    text-align: center;
    margin: 0 auto;
}
a{
    color: blue;
}
